<%-layout("/layout/boilerplate")%>
<body>
    <h3>All Listings</h3>
    <!-- <form method="GET" action="listings/new">
        <button>Add New</button>
        <br>
        <br>
    </form> -->

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">

        <!-- for creating card for every listing present in db -->
        <%for(let listing of allListing){%>
            <a href="/listings/<%=listing._id%>" class="listings-link">
            <div class="card-img-overlay"></div>
            <div class="card col" style="width:20rem">
                <img src="<%=listing.image%>" class="card-img-top" style="height:20rem" alt="listing.image">
                <div class="card-body">
                <p class="card-text">
                    <%=listing.title%><br>
                    &#8377;<%=listing.price.toLocaleString("en-IN")%>/night
                </p>
                </div>
            </div>
        </a>
        <%}%>
    </div>
    
</body>
